.jobsheader{
    display: inline-block;
    width: calc(100% - 1px);
    font-size: 18px;
    border: 0.25px solid lightgray;
}
.jobsheader >ul{
    list-style: none;
    margin: 15px 0px 10px 140px; 
}
.jobsheader >ul >li{
    display: inline-block;
    float: left;
    padding: 0px 10px;
}
.jobsheader >ul >li >a >img{
    width:130px;
}
.job-menu{
    margin: 4px;
}
.job-team-help{
    display: inline-block;
    width: 100%;
}
.job-team{
    display: flex;
    margin: 60px 150px;
}
.job-help{
    width: 50%;
}
.job-help >img{
    width: 350px;
    height: 250px;
}
.job-hep-content{
    padding-right: 100px;
    font-family: 'Barlow Semi Condensed', sans-serif;

}
.job-help >h3{
    font-size: 15px;
    color: darkgray;
    font-weight: 100;
}
.job-help >h1{
    font-size: 40px;
    color:#2f363f;
    line-height: 1;
    margin-top: 10px;
}
.job-help >p{
    margin-top: 10px;
    line-height: 1.5;
    font-size: 18px;
    color: darkslategray;
}
.job-open{
    display: inline-block;
    width: 100%;
}
.job-open-resources{
    margin:30px 180px;
}
.job-open-option,.business-development{
    display: block;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 10px;

}
.job-open-option:hover,.business-development:hover{
    background-color: rgba(51, 193, 255,.1);
    cursor: pointer;
}
.job-open-option >.flr,.business-development >.flr{
    border: 1px solid cornflowerblue;
    float: right;
    padding: 3px 8px;
    font-size: 15px;
    font-weight: 100;
    color: midnightblue;
    border-radius: 15px;
    background-color: powderblue;
}
.job-open-option >p,.business-development >p{
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: #2f363f;
}
.job-open-option:hover ~ .analyst-p,.business-development:hover ~ .analyst-p{
    color: #1E90FF;
}
.additional-detail,.additional-detail1,.additional-detail2,.additional-detail3,.additional-detail4,.additional-detail5,.additional-detail6,.additional-detail7,.additional-detail8{
    display: none;
    padding: 20px;
    border: 1px solid darkgray;
    border-radius: 5px;  
    transition: 2s; 
}
.additional-detail >ul,.additional-detail1 >ul{
    list-style: none;
}
.additional-detail >ul >li,.additional-detail1 >ul >li{
    font-size: 18px;
    margin-bottom: 10px;
}
.additional-detail:hover ul>li,.additional-detail1:hover ul>li{
    color:#1E90FF ;
}
.additional-detail:hover,.additional-detail1:hover{
    cursor: pointer;
}
.add-class{
    display: inline-block;
    transform: scaleY(1);
}
.remove-class{
    transform: scaleY(0);
}